@model UserModel
<h3>@TempData["UserInsertMsg"]</h3>
<form asp-action="Save" asp-controller="User">
    <div class="container">
        <div class="form-group">

            <input type="hidden" asp-for="UserID" />


            <label><span class="text-danger">*</span>UserName </label>
            <input type="text" class="form-control" asp-for="UserName" name="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>

            <br />

            <label><span class="text-danger">*</span>Email </label>
            <input type="text" class="form-control" asp-for="Email" name="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <br />

            <label><span class="text-danger">*</span>Password</label>
            <input type="text" class="form-control" asp-for="Password" name="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <br />

            <label><span class="text-danger">*</span>MobileNo</label>
            <input type="text" class="form-control" asp-for="MobileNo" name="MobileNo" />
            <span asp-validation-for="MobileNo" class="text-danger"></span>

            <br />

            <label><span class="text-danger">*</span>Address</label>
            <input type="text" class="form-control" asp-for="Address" name="Address" />
            <span asp-validation-for="Address" class="text-danger"></span>

            <br />
            <label><span class="text-danger">*</span>IsActive</label>
            <input type="text" class="form-control" asp-for="IsActive" name="IsActive" />
            <span asp-validation-for="IsActive" class="text-danger"></span>

            <br />
            <button class="btn btn-success">Submit</button>
        </div>
        </
    </div>
</form>

