@model OrderModel
<h3>@TempData["OrderInsertMsg"]</h3>

<form asp-action="Save" asp-controller="Order">
    <div class="container">
        <div class="form-group">

            @if (Model.OrderID != null)
            {
                <input type="hidden" asp-for="OrderID" />
            }
            <input type="hidden" asp-for="OrderID" />

            <label><span class="text-danger">*</span>OrderDate </label>
            <input type="date" class="form-control" asp-for="OrderDate" name="OrderDate" />
            <span asp-validation-for="OrderDate" class="text-danger"></span>

            <br />

            <label><span class="text-danger">*</span>CustomerID </label>
            <select class="form-control" asp-for="CustomerID" asp-items="@(new SelectList(ViewBag.CustomerList, "CustomerID", "CustomerName"))">
                <option value="">Select Customer</option>
            </select>
            <span asp-validation-for="CustomerID" class="text-danger"></span>

            <br />

            <label>PaymentMode</label>
            <input type="text" class="form-control" asp-for="PaymentMode" name="PaymentMode" />
            <span asp-validation-for="PaymentMode" class="text-danger"></span>

            <br />

            <label>TotalAmount</label>
            <input type="text" class="form-control" asp-for="TotalAmount" name="TotalAmount" />
            <span asp-validation-for="TotalAmount" class="text-danger"></span>

            <br />
            <label><span class="text-danger">*</span>ShippingAddress</label>
            <input type="text" class="form-control" asp-for="ShippingAddress" name="ShippingAddress" />
            <span asp-validation-for="ShippingAddress" class="text-danger"></span>

            <br />
            <label><span class="text-danger">*</span>UserID</label>
            <input type="text" class="form-control" asp-for="UserID" name="UserID" />
            <span asp-validation-for="UserID" class="text-danger"></span>

            <button class="btn btn-success">Submit</button>
        </div>
        </
    </div>
</form>

